<h2> Edit <%= @student.pretty_name %></h2>
<form action="/students/<%= @student.id %>" method="post">

  <label for="first_name"> First Name: </label>
  <input type="text" name="first_name" id="first_name" value="<%= @student.first_name %>">
  <br/>

  <label for="second_name">Second Name:</label>
  <input type="text" name="second_name" id="second_name" value="<%= @student.second_name %>">

  <br/>

  <label for="house_select">Select House:</label>
  <select name="house_id" id="house_select" selected="<%= @student.house_id  %>">
    <% @houses.each do |house| %>
      <% if house.id == @student.house_id %>
        <option value=<%= house.id %> selected><%= house.name.capitalize %></option>
        <% else %>
       <option value=<%= house.id %>><%= house.name.capitalize %></option>--> %>
      <% end %>
    <% end %>
 </select>

 <label for="age">Age:</label>
 <input type="number" name="age" id="age" value="<%= @student.age %>"/>

 <input type="submit" value="UpdateStudent">

 </form>




</form>>
